body {
  background-image: url("media/wallpaper0.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.noTrans {
  transition: none !important;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

body::-webkit-scrollbar {
  display: none;
}

#offTop {
  z-index: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0;
  transition: opacity 0.5s 0.3s ease-in-out;
}

#top {
  z-index: 1;
  width: 100%;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  position: fixed;
}

#topContent {
  width: 40%;
  min-width: 300px;
}

#hiddenDetailsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 1;
  left: 0;
  transition: margin-top 0.3s ease-in-out;
}

#hiddenDetails {
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
  background-color: #b9b9b97a;
  box-shadow: 0px 2px 9px -6px black;
  border-radius: 20px;
  width: 20%;
  min-width: 270px;
  padding: 2vh 0;
  opacity: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out, backdrop-filter 0.3s ease-out;
}

.hiddenInp {
  padding: 0.2em 1em;
  font-size: calc(12px + min(0.7vh, 0.2vw));
  border: none;
  color: #4e4e4e;
  backdrop-filter: none;
}

.hiddenInp:focus {
  outline: none;
}

#countriesDiv {
  position: absolute;
  height: 60%;
  left: 0;
}

#countriesContainer {
  z-index: 3;
  position: relative;
  width: 1.5em;
  height: 0em;
  padding: 0em;
  border-radius: 15px;
  backdrop-filter: blur(100px);
  background: #00000075;
  transform: none;
  transition: padding 0.3s ease-in-out, height 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.countries {
  display: none;
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  height: 1em;
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
.countries:hover {
  filter: brightness(0.8);
}
#country0 {
  display: block;
  opacity: 1;
}

#hiddenPhone {
  position: relative;
  display: flex;
  justify-content: center;
}

#flexPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 70%;
}

#hiddenEmail {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
}

#phoneInput {
  width: calc(100% - 2em);
  padding-top: 0.5em;
  border-radius: 15px 15px 0 0;
  padding-left: 3em;
  border-bottom: 1px solid #d6d6d6;
}

#emailInput {
  border-radius: 0 0 15px 15px;
  padding-bottom: 0.5em;
  display: block;
  width: 70%;
}

#visible {
  opacity: 1;
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.227);
  backdrop-filter: blur(28px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header {
  color: white;
  font-size: calc(16px + min(3vh, 2vw));
  margin: 0;
  padding: 1vh 0;
  /* text-shadow: -1px 2px black */
}

#search {
  padding-bottom: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

#searchBar {
  background-color: #cecaca85;
  color: white;
  width: 10%;
  margin: 0;
  min-width: 150px;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: calc(12px + min(1vh, 0.5vw));
  border: 0;
  transition: width 0.5s ease-in-out;
}

#searchBar::placeholder {
  color: #ffffffc7;
}

#searchBar:focus {
  outline: none;
  border: 0;
  width: 50%;
}

#searchButton {
  margin: 0;
  width: 5.2em;
  padding: 0.5em 1em;
  border-radius: 15px;
  font-size: calc(12px + min(1vh, 0.5vw));
  border: 0;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
    background-color 0.2s ease-in-out, color 0.2s ease-in-out, margin-left,
    width 0.5s ease-in-out;
}

#settings {
  z-index: 4;
  position: absolute;
  right: 1vw;
  height: min(10vh, 10vw);
  cursor: pointer;
}

#settingsHeader {
  margin-bottom: 2vh;
}

#settingsMenu {
  position: absolute;
  right: calc(min(10vh, 10vw) / 2);
  top: calc(min(10vh, 10vw) / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.227);
  backdrop-filter: blur(28px);
  border-radius: 20px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 0;
  height: 0;
  color: white;
  font-size: 0;
  overscroll-behavior: none;
  transition: top 0.5s ease-in-out, right 0.5s ease-in-out,
    font-size 0.4s ease-in-out, height 0.4s ease-in-out, padding,
    width 0.3s ease-in-out;
}

#settingsMenu::-webkit-scrollbar {
  display: none;
}

.wallpaper {
  width: 90%;
  border-radius: 20px;
  cursor: pointer;
  opacity: 1;
  height: 30vh;
  margin-bottom: 2vh;
  transition: all 0.5s ease-in-out, margin-bottom 0.5s 0.5s ease-in-out,
    height 0.5s 0.5s ease-in-out;
}

.lastWall {
  margin-bottom: 50vh;
  transition: margin-bottom 0.5s ease-in-out !important;
}

.search {
  background-color: #00000024;
  color: #d6d6d69c;
}

.add {
  background-color: #ffffffcf;
  color: #000000e3;
  transform: translateY(-10%);
  box-shadow: 1px 6px 6px -6px black;
  cursor: pointer;
}

.found {
  background-color: #fff1b1f5;
  color: black;
}

.touched {
  animation: touch 0.2s ease-in-out;
}

@keyframes touch {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#list {
  opacity: 1;
  z-index: 1;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
}
#hiddenListDiv {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
#hiddenListEl {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}
#hiddenListElName {
  cursor: default;
}
.listElCont {
  z-index: 3;
  width: 30%;
  min-width: 300px;
}

.mia {
  width: 100%;
  display: flex;
  height: 10vh;
  justify-content: center;
  opacity: 0;
  margin-bottom: 2vh;
  transition: margin-bottom 0.3s ease-in-out, opacity 0.2s ease-in,
    height 0.3s ease-in-out;
}
.miaPush {
  height: 20vh;
}

.name {
  position: relative;
  z-index: 4;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 20px 20px 20px 20px;
  height: 10vh;
  width: 100%;
  background: rgb(255 255 255 / 51%);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(16px + min(2vh, 1vw));
  transition: border-radius 0.1s 0.3s ease-out, backdrop-filter 0s 0.36s;
}
.nameValue {
  pointer-events: none;
}
.bordering {
  border-radius: 20px 20px 0px 0px;
  backdrop-filter: blur(21px);
  transition: border-radius 0s, backdrop-filter 0s;
}
.trash {
  position: absolute;
  height: 40%;
  right: 6%;
}
.trash:hover {
  filter: invert(0.3);
}

.details {
  transition: height 0.3s ease-in-out, font-size 0.3s ease-in-out;
  z-index: 3;
  position: relative;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #5a595966;
  font-size: calc(12px + min(1vh, 0.5vw));
  margin-bottom: 3vh;
  height: 0;
  font-size: 0;
  color: white;
}

.detailsOpen {
  height: 10vh;
  font-size: calc(12px + min(1vh, 0.5vw));
  transition: height 0.3s ease-in-out, font-size 0.4s ease-in-out;
}
.shadow {
  position: absolute;
  height: 10vh;
  width: 100%;
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(12px);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.shadowOpen {
  opacity: 1;
}
.phone {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.phone:hover {
  color: rgb(235, 235, 235);
}
.noInfo {
  position: relative;
  z-index: 2;
}
.email {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.email:hover {
  color: rgb(235, 235, 235);
}
a {
  color: inherit;
  text-decoration: none;
}
.copied {
  position: absolute;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.654);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  width: 20%;
  height: 40%;
  font-size: 0.8em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10%;
  top: 10%;
  font-weight: 500;
  opacity: 0;
}
.copiedAnimation {
  animation: copied 1.5s ease-in-out forwards;
}

@keyframes copied {
  0% {
    opacity: 0;
    margin-top: 2%;
  }

  20% {
    opacity: 1;
    margin-top: 0;
  }

  50% {
  }

  80% {
    opacity: 1;
    margin-top: 0;
  }

  100% {
    opacity: 0;
    margin-top: -2%;
  }
}
